@font-face {
  font-family: 'Forte-Line';
  src: url('../fonts/forte-line.ttf'); /* IE9 Compat Modes */
}

body {

}

.hero {
  min-height: 300px;
  background-color: #FFF !important;
}


h1 {
  font-family:"forte-line" !important;
  font-size: 6em !important;
  text-align: center;
  padding-top: 80px;
}

h2 {
  font-family: "helvetica neue";
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  display:none;
}

.row {
  min-height: 150px;
  height: 250px;
  max-width: 60%;
  margin: auto;
}

.col-xs-4 {
  width: 33%;
  height: 250px;
}

#a1 {
  border-right: 2.5px solid pink;
  border-bottom: 2.5px solid pink;
  box-shadow: 1px 2px 120px 1px pink;
  border-top-left-radius: 10px;
}

#b1 {
  border-bottom: 2.5px solid lightblue;
  border-right: 2.5px solid lightblue;
  border-left: 2.5px solid lightblue;
    box-shadow: 1px 2px 120px 1px lightblue;
}

#c1{
  border-bottom: 2.5px solid #B5FFCF;
  border-left: 2.5px solid #B5FFCF;
  box-shadow: 1px 2px 120px 1px #B5FFCF;
  border-top-right-radius: 10px;
}

#a2 {
  border-bottom: 2.5px solid #E6CAEB;
  border-top: 2.5px solid #E6CAEB;
  border-right: 2.5px solid #E6CAEB;
  box-shadow: 1px 2px 120px 1px #E6CAEB;
}

#b2 {
  border: 2.5px solid #FFDDAD;
  box-shadow: 1px 2px 120px 1px #FFDDAD;
}

#c2 {
  border-bottom: 2.5px solid #ABFFF9;
  border-top: 2.5px solid #ABFFF9;
  border-left: 2.5px solid #ABFFF9;
  box-shadow: 1px 2px 100px 1px #ABFFF9;
}

#a3{
  border-top: 2.5px solid #B5FFCF;
  border-right: 2.5px solid #B5FFCF;
  box-shadow: 1px 2px 120px 1px #B5FFCF;
  border-bottom-left-radius: 10px;
}

#b3 {
  border-right: 2.5px solid #FFCCF7;
  border-top: 2.5px solid #FFCCF7;
  border-left: 2.5px solid #FFCCF7;
  box-shadow: 1px 2px 120px 1px #FFCCF7;
}

#c3{
  border-top: 2.5px solid #C4E2FF;
  border-left: 2.5px solid #C4E2FF;
  box-shadow: 1px 2px 120px 1px #C4E2FF;
  border-bottom-right-radius: 10px;
}

.x {
  background-image: url('../images/x.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;

}

.o {
  background-image: url('../images/o.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;

}
